allow_remote_control yes
enable_audio_bell no

window_padding_width 10
#remember_window_size yes
initial_window_width  640
initial_window_height 400
# Use `kitty list-fonts` to view fonts
font_family       JetBrains Mono Regular
bold_font         JetBrains Mono Bold
italic_font       JetBrains Mono Italic
bold_italic_font  JetBrains Mono Bold Italic
# adjust_column_width 120%
# font_features VictorMono-Medium +ss01
font_size         11.0

cursor_shape      beam
scrollback_lines  9999

#term xterm-256color
foreground {{foreground}}
background {{background}}
cursor {{primary}}
background_opacity 0.97

{% for color in [black, red, green, yellow, blue, magenta, cyan, lightgray, darkgray, lightred, lightgreen, lightyellow, lightblue, lightmagenta, lightcyan, white] -%}
  color{{loop.index0}} {{color}}
{% endfor -%}

#open_url_modifiers ctrl
open_url_with default
url_color {{primary}}
url_style single
map ctrl+f kitten hints

map ctrl+plus    increase_font_size
map ctrl+minus    decrease_font_size
map ctrl+shift+0 restore_font_size
# map ctrl+alt+c set-colors --all --configured ~/.config/kitty/kitty.conf
map ctrl+backspace send_text all \x17
map ctrl+delete send_text all \x1b\x64
map ctrl+enter launch --copy-colors --type=os-window --cwd=current
