* { /* Be careful with stuff inside * */
  border: none;
  border-radius: 0;
  font-family: 'JetBrains Mono Regular', 'FontAwesome';
  font-size: 11px;
}

#workspaces button, #clock, #hardware, #hardware2, #tray, #updates, tooltip {
  background-color: #25313f;
}

#hardware widget:not(:last-child) label,
#hardware2 widget:not(:last-child) label,
#updates widget:not(:last-child) label {
  margin-right: 5px;
}

#hardware, #hardware2, #tray, #updates {
  margin: 5px 5px 5px 0;
  border-radius: 10px;
  padding: 0 10px;
}

window#waybar {
  background: transparent;
  color: #FEFEFE;
}

tooltip label {
  font-size: 14px;
}

#workspaces {
  background-color: transparent;
  margin: 5px 5px 10px 5px;
}

#workspaces button{
  color: #fefefe;
  border-radius: 10px;
  margin-right: 6px;
  min-height: 20px;
  min-width: 15px;
  font-weight: normal;
}

#workspaces button.active {
  background: rgb(0,103,168);
  background: linear-gradient(45deg, rgba(0,103,168,1) 0%, rgba(92,228,255,1) 100%);
  animation: gradient 10s ease infinite;
}

#workspaces button.focused {
  background: #64727D;
}

#tray {
  margin: 5px 5px 5px 0;
  border-radius: 10px;
  padding: 0 5px;
}

#clock {
  font-size: 14px;
  font-weight: 900;
  border-radius: 10px;
  margin: 5px;
  min-width: 80px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature {
  color: #ff6e67;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#tray menu {
  background-color: #25313f;
  color: #fefefe;
}