set recolor-lightcolor '{{background}}'
set recolor-darkcolor '{{foreground}}'
set default-bg '{{background}}'

set statusbar-basename "true"
set window-title-basename "true"
set page-padding 1

set selection-clipboard clipboard
map u scroll half-up
map d scroll half-down
map D toggle_page_mode
